/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  display: flex;
  height: 300px;
  text-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: var(--ifm-color-secondary-contrast-foreground);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__title {
  font-size: 4rem;
  font-family: "Arial", sans-serif;
  color: #00f;
  text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f;
  animation: neon-flicker 1.5s infinite alternate;
}

@keyframes neon-flicker {
  from {
    text-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 20px #00f;
  }

  to {
    text-shadow: 0 0 15px #00f, 0 0 25px #00f, 0 0 35px #00f;
  }
}

.neonRed {
  font-size: 1.5rem;
  color: #f00;
  text-shadow: 0 0 10px #f00, 0 0 20px #f00, 0 0 30px #f00;
}

.buttons .button {
  color: white;
  background: transparent;
  border: 2px solid #00f;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f;
  transition: all 0.3s ease;
}

.buttons .button:hover {
  background: #00f;
  color: #fff;
  box-shadow: 0 0 20px #00f, 0 0 40px #00f, 0 0 60px #00f;
}