/**
 * Global CSS for Docusaurus with neon style modifications.
 * This file also supports dark mode and custom primary colors.
 */

:root {
  --ifm-color-primary: #222222;
  --ifm-color-primary-dark: #1a1a1a;
  --ifm-color-primary-darker: #0d0d0d;
  --ifm-color-primary-light: #333333;
  --ifm-color-primary-lighter: #4d4d4d;
  --ifm-font-size: 100%;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);
  --neon-blue: #0066ff;
  --neon-red: #ff1a1a;
  --neon-white: #ffffff;
  --text-color: #000000;
}

[data-theme='dark'] {
  --ifm-color-primary: #f3f3f3;
  --ifm-color-primary-dark: #e6e6e6;
  --ifm-color-primary-darker: #cccccc;
  --ifm-color-primary-light: #fcfcfc;
  --ifm-color-primary-lighter: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.2);
  --neon-blue: #66b3ff;
  --neon-red: #ff6666;
  --neon-white: #ffffff;
  --text-color: #f3f3f3;
}


svg {
    fill: var(--text-color);
}
